label{
    font-size: 20px;
    font-weight: bold;
}
.cal{
    height: 500px;
    border:1px solid rgb(122, 121, 121);
    border-radius: 10px;
    position: relative;
    top: -40px;
    background-color: aliceblue;
}

.label{
    margin: 25px 0px 1px 20px;
}

button{
    background-color: rgb(223, 222, 222);
    outline: none;
    border: none;
    height: 37px;
    border-radius: 2px;
}

label{
    margin-bottom: 17px;
    margin-bottom: 15px;
}

.output{
    margin: 70px 0px 0px 0px;
}

.vertical { 
    border-left: 6px solid black; 
    height: 200px; 
    position:absolute; 
    left: 50%; 
} 

.input{
     width: 120%;
     position: relative;
     left: -50px;
     height: 100px;
     border:none;
     background-color: aliceblue;
     text-align: center;
     font-size: 30px;
     font-weight: bold;
}

#calculate{
    background-color: rgb(163, 241, 241);
    border:none;
    position: relative;
    margin: 50px 30px 0px 30px ;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
input{
    text-align: center;
    border:none;
    height: 37px;
    outline: 0;
}

